
 body {
  font-size: 1em;
  line-height: 1.2;
  font-family: "Corbel", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/*header-section*/

.main_header {
  position: relative;
  width: 100%;
  min-height: 50px;
  z-index: 1000000;
  background: #fff;
}
.main_logo {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.icon_menu {
  position: fixed;
  height: 25px;
  width: 20px;
  float: left;
  padding: 5px 0;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 20;
}
.divide {
  display: block;
  height: 3px;
  margin: 4px 0;
  background: #000;
}

/*header-section*/

/*content-section*/

 /***SIDEBAR-STYLE***/

.sidebar {
  position: fixed;
  top: 0;
  left: -9999px;
  float: left;
  width: 150px;
  height: 100%;
  padding: 20px;
  -webkit-transition: left 0.4s ease-out 0.5s;
  -moz-transition: left 0.4s ease-out 0.5s;
  -o-transition: left 0.4s ease-out 0.5s;
  transition: left 0.1s ease-out 0.3s;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4)
}
.sidebar.active {
  left: 0;
}
.sidebar_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar_item {
  font-size: 0.937em;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 3px;
  margin: 25px 0;
}
.sidebar_item:first-child {
  margin-top: 65px;
}
.sidebar_link {
  text-decoration: none;
  color: #fff;
}
.sidebar_link:hover {
  color: #000;
  font-weight: bold;
}

/***SIDEBAR-STYLE***/

/***MAIN-SLIDER***/

.main_slider {
  /*margin-top: 50px;*/
  overflow: hidden;
}
.main_slider img {
  height: auto;
  width: 100%;
}
.slick-dots {
  position: absolute;
  display: block; 
  bottom: 100%;
  top: 0%;
}
/***MAIN-SLIDER***/

/***SECOND-SECTION-ABOUT***/

.desc_container {
  height: 95vh;
  margin-top: -30px;
}
.desc_wrap {
  float: left;
  margin-left: 20%;
  margin-top: 250px;
  width: 20%;
}
.desc_image {
  max-width: 100%;
  height: auto;
}
.desc_wrap:nth-child(2) {
  width: 30%;
  margin-top: 17%;
  margin-left: 100px;
}
.desc_text {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: bold;
}

/***SECOND-SECTION-ABOUT***/

/*content-section*/

/*footer*/

.main_footer {
  min-height: 60px;
  width: 100%;
}

/***SOCIAL-BUTTON-STYLE***/

.social {
  margin-left: 45%;
  min-height: 30px;
}
.social_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social_item {
  display: inline-block;
}
.social_link {
  display: block;
  height: 41px;
  width: 41px;
  margin: 10px 5px;
  background: black;
  display: block;
  text-decoration: none;
  font-size: 0;
  border-radius: 50%;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.social_vk {
  background: #000 url("../img/vk_logo.png") no-repeat 50% 50%;
}
.social_fb {
  background: #000 url("../img/fb_logo.png") no-repeat 50% 50%;
}
.social_insta {
  background: #000 url("../img/insta_logo.png") no-repeat 50% 50%;
}
.social_vk:hover {
  background: #746cc2 url("../img/vk-logo-black.png") no-repeat 50% 50%;
}
.social_fb:hover {
  background: #746cc2 url("../img/fb-logo-black.png") no-repeat 50% 50%;
}
.social_insta:hover {
  background: #746cc2 url("../img/insta-logo-black.png") no-repeat 50% 50%;
}

/***PORTRAIT-SECTION***/

.gallery {
  max-width: 1200px;
  margin: 0 auto;
}
.gallery_wrap{
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery_item {
  position: relative;
  padding: 0;
  margin: 0;
  /*margin-bottom: -10px;*/

}
.gallery_item:hover:before {
  content:"Click for zoom";
  position: absolute;
  top:50%;
  left: 35%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.gallery_image {
  vertical-align: middle;
  max-width: 100%;
  height: auto;

}
.gallery_image:hover {
  opacity: 0.6;
  -webkit-transition:  0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  -o-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
}
.gallery_mix {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/***TEST-MEDIA-QUARRIES***/

@media only screen and (max-width: 615px) {
  .gallery_item {
    margin: 0 auto;
  }
  .gallery_mix {
    display: none;
  }
    .desc_container {
    height: auto;
  }
  .main_header {
    width: 100%;
  }
    .main_logo {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .desc_text {
    font-size: 1em;
    margin: 50px auto;
    padding-bottom: 20px;
  }
  .desc_wrap {
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    }
  .desc_image {
    max-width: 100%;
  }
  .desc_wrap:nth-child(2) {
    width: 100%;
    margin: 0 auto; 
  }
  .main_footer {
    display: none;
  }
  .sidebar {
    width: 100vw;
  }
  .sidebar_item {
    text-align: center;
  }
}

